version: '3.9'

services:

  mysqldb:
    container_name: gedcom-analyzer-db
    image: mysql:8
    restart: always
    ports:
      - $MYSQLDB_LOCAL_PORT:$MYSQLDB_DOCKER_PORT
    environment:
      MYSQL_DATABASE: $MYSQLDB_DATABASE
      MYSQL_USER: $MYSQLDB_USER
      MYSQL_PASSWORD: $MYSQLDB_PASSWORD
      MYSQL_ROOT_PASSWORD: $MYSQLDB_ROOT_PASSWORD
    volumes:
      - db:/var/lib/mysql

  app:
    container_name: gedcom-analyzer-app
    image: geneaazul/gedcom-analyzer:latest
    build: .
    depends_on:
      - mysqldb
    restart: always
    ports:
      - $SPRING_LOCAL_SECURE_PORT:$SPRING_DOCKER_SECURE_PORT
    environment:
      JAVA_OPTS: '-Xms256m -Xmx512m'
      SPRING_PROFILES_ACTIVE: 'prod'
      SPRING_APPLICATION_JSON: '{
        "docker.enabled" : true,
        "spring.datasource.url"  : "jdbc:mysql://mysqldb:$MYSQLDB_DOCKER_PORT/$MYSQLDB_DATABASE",
        "spring.datasource.username" : "$MYSQLDB_USER",
        "spring.datasource.password" : "$MYSQLDB_PASSWORD",
        "server.port" : $SPRING_DOCKER_SECURE_PORT,
        "server.ssl.enabled" : $SSL_ENABLED,
        "server.ssl.key-store-type" : "$SSL_KEYSTORE_TYPE",
        "server.ssl.key-store" : "$SSL_KEYSTORE_PATH",
        "server.ssl.key-store-password" : "$SSL_KEYSTORE_PASSWORD",
        "server.ssl.key-alias" : "$SSL_KEY_ALIAS",
        "google-api-key" : "$GOOGLE_API_KEY",
        "gedcom-storage-google-drive.enabled" : $GEDCOM_GOOGLE_DRIVE_ENABLED,
        "gedcom-storage-google-drive-file-id" : "$GEDCOM_GOOGLE_DRIVE_FILE_ID",
        "gedcom-storage-local-path" : "/tmp/genea-azul-full-gedcom.ged",
        "temp-dir" : "/tmp"
      }'
    volumes:
      - app:/tmp

volumes:
  db:
  app:
