services:

  mariadb:
    container_name: 'gedcom-analyzer-db'
    image: 'jbergstroem/mariadb-alpine:10.11.5'
    restart: 'always'
    ports:
      - '$MYSQLDB_LOCAL_PORT:$MYSQLDB_DOCKER_PORT'
    environment:
      MYSQL_DATABASE: '$MYSQLDB_DATABASE'
      MYSQL_USER: '$MYSQLDB_USER'
      MYSQL_PASSWORD: '$MYSQLDB_PASSWORD'
      MYSQL_ROOT_PASSWORD: '$MYSQLDB_ROOT_PASSWORD'
      MYSQL_CHARSET: 'utf8mb4'
      MYSQL_COLLATION: 'utf8mb4_unicode_ci'
    volumes:
      - db:/var/lib/mysql

  app:
    container_name: 'gedcom-analyzer-app'
    image: 'geneaazul/gedcom-analyzer:latest'
    build: .
    depends_on:
      - mariadb
    restart: 'always'
    ports:
      - '$SPRING_LOCAL_PORT:$SPRING_DOCKER_PORT'
    environment:
      JAVA_OPTS: '-Xms512m -Xmx1024m'
      SPRING_PROFILES_ACTIVE: 'prod'
      SPRING_APPLICATION_JSON: '{
        "spring.datasource.url" : "jdbc:mariadb://mariadb:$MYSQLDB_DOCKER_PORT/$MYSQLDB_DATABASE",
        "spring.datasource.username" : "$MYSQLDB_USER",
        "spring.datasource.password" : "$MYSQLDB_PASSWORD",
        "spring.datasource.driver-class-name" : "org.mariadb.jdbc.Driver",
        "spring.jpa.database-platform" : "org.hibernate.dialect.MariaDBDialect",
        "server.port" : $SPRING_DOCKER_PORT,
        "server.ssl.enabled" : $SSL_ENABLED,
        "server.ssl.key-store-type" : "$SSL_KEYSTORE_TYPE",
        "server.ssl.key-store" : "$SSL_KEYSTORE_PATH",
        "server.ssl.key-store-password" : "$SSL_KEYSTORE_PASSWORD",
        "server.ssl.key-alias" : "$SSL_KEY_ALIAS",
        "google-api-key" : "$GOOGLE_API_KEY",
        "gedcom-storage-google-drive.enabled" : $GEDCOM_GOOGLE_DRIVE_ENABLED,
        "gedcom-storage-google-drive-file-id" : "$GEDCOM_GOOGLE_DRIVE_FILE_ID",
        "gedcom-storage-local-path" : "/tmp/genea-azul-full-gedcom.ged",
        "temp-dir" : "/tmp",
        "clients-with-special-threshold" : "181.92.181.58, 186.136.48.25, 181.92.180.105, 181.29.128.249, 190.18.216.24, 45.176.88.52",
        "disable-obfuscate-living" : true
      }'
      LOG_PATH: '/tmp/logs'
    volumes:
      - app:/tmp

  #adminer:
  #  container_name: gedcom-analyzer-adminer
  #  image: adminer:4.8.1
  #  restart: always
  #  ports:
  #    - 8086:8080

volumes:
  db:
  app:
