<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Genea Azul</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <style>
      body {
          height: 100vh;
      }
      .container {
          height: 100%;
      }
    </style>
  </head>

  <body>
    <div class="container d-flex flex-column align-items-center justify-content-center">
      <img class="img-fluid" src="/img/genea-azul-logo.png" alt="Genea Azul logo" />
      <div class="invisible" id="spinner-container">
        <div class="spinner-border spinner-border-sm mt-5" role="status"></div>
        Iniciando el servidor, esper&aacute; unos segundos...
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var redirectToUrl = "https://geneaazul.ddns.net";
            $.ajax({
                type: "GET",
                url: redirectToUrl + "/api/gedcom-analyzer",
                contentType: "application/json",
                complete: function(data) {
                    window.location.href = redirectToUrl;
                }
            });
        });

        setTimeout(function() {
            $("#spinner-container").removeClass("invisible");
        }, 1500);
    </script>
  </body>

</html>
