.form-floating > label {
    width: 110% !important;
}

.card .card .card-body {
    border-radius: var(--bs-card-inner-border-radius);
}

.card-label-max-width {
    max-width: 147px !important;
}

.profile-picture-small {
    max-width: 50px !important;
    max-height: 50px !important;
}

p {
    margin-bottom: 0.5em;
}
